<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Style.css">
    <meta charset="UTF-8">
    <title>Lilo</title>
</head>
<body>
<h1>Hello facking beach</h1>

<div class="container">
    <div class="sidebar-left">лево</div>
    <div class="main-content">
        <img src="/обои сейчас.png" alt="обои сейчас.png">
        <p>
            «Алло? Алло! Привет! Ого, четвёртая ночь! Я знал, что у тебя получится.
            Стук в дверь
            Слушай... возможно, я больше не смогу записать для тебя сообщение завтра. Стук Для меня сегодня была тяжёлая ночь. Вздох Я рад, что записал все эти сообщения заранее.
            Стук
            Эй, можешь сделать мне одолжение? Как-нибудь... загляни в те старые костюмы в подсобке. Стук Я постараюсь продержаться, пока кто-нибудь не проверит их. Может, всё будет не так уж плохо.
            Стук
            Я... я всегда хотел узнать, что было внутри всех этих пустых голов. Играет музыкальная шкатулка
            Знаешь... стон О, нет...»
            Звуки борьбы, скрежет металла, крик аниматроника и статика
        </p>
    </div>
    <div class="sidebar-right">право</div>
</div>

</body>
</html>