<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/Style.css">
    <meta charset="UTF-8">
    <title>Lilo</title>
</head>
<body>
<h1>Hello My Friends</h1>

<div class="container">
    <div class="sidebar-left">Поле игрока</div>
    <div class="main-content">
        <img src="/обои сейчас.png" alt="обои сейчас.png">
        <p>
            Здесь скоро будет интерфейс
        </p>
    </div>
    <div class="sidebar-right">Поле врагов</div>
</div>

</body>
</html>
